<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete data</title>
</head>
<body>
    <h1>Delete specific data</h1>
    <form method="post" action="/user/<%= user.id %>?_method=DELETE">
        <textarea name="username"><%= user.name %></textarea><br>
        <input type="text" name="email" placeholder="enter email"><br><br>
        <input type="password" name="password" placeholder="enter password"><br><br>
        <button>Delete</button>
    </form>
</body>
</html>