<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new user</title>
</head>
<body>
    <h2>Add new user</h2>
    <form method="post" action="/user">
        <input type="text" placeholder="enter name" name="username"><br><br>
        <input type="text" placeholder="enter email" name="email"><br><br>
        <input type="password" placeholder="enter password" name="password"><br><br>
        <button>Submit</button>
    </form>
</body>
</html>